fastapi==0.115.12
uvicorn[standard]==0.34.0
pydantic==2.11.2
pydantic-settings==2.8.1
qdrant-client==1.13.3
requests==2.32.3
Pillow==11.1.0
opencv-python-headless==4.11.0.86
numpy==2.2.4
sentence-transformers==3.4.1
torch==2.6.0
transformers==4.50.3
python-multipart==0.0.20
